@page "/login"

@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}
<section style="width:600px; margin: 0 auto;">
<EditForm Model="_userForAuthentication" OnValidSubmit="ExecuteLogin">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Email" Class="mt-3"
                          @bind-Value="_userForAuthentication.Email" For="@(() => _userForAuthentication.Email)" />

            <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                          @bind-Value="_userForAuthentication.Password" For="@(() => _userForAuthentication.Password)" InputType="InputType.Password" />

        </MudCardContent>

            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
            </MudCardActions>

    </MudCard>
</EditForm>
</section>